<launch>
  
  <arg name="show_rviz" default="true"/>
      <arg name="gui" default="true" />
  
  <param name="use_gui" value="true"/>  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find aras_visual_servo_gazebo)/world/empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description"
   command="$(find xacro)/xacro.py '$(find aras_visual_servo_gazebo)/robots/aras_visual_servo.URDF'" />

  <node name="aras_visual_servo_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" 
    args="-urdf -param robot_description -model aras_visual_servo" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find aras_visual_servo_gazebo)/config/aras_visual_servo_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/aras_visual_servo" args="
    joint_state_controller
    gantry_position_controller joint1_position_controller
    joint2_position_controller joint3_position_controller joint5_position_controller
    joint6_position_controller "/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/aras_visual_servo/joint_states" />
  </node>

</launch>
